{
    "extends": [
      "plugin:@typescript-eslint/recommended",
      "plugin:@typescript-eslint/recommended-requiring-type-checking",
      "plugin:prettier/recommended"
    ],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint", "prettier", "import"],
    "parser": "@typescript-eslint/parser",
    "env": { "node": true, "browser": true },
    "rules": {
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-unsafe-argument": "off",
      "@typescript-eslint/no-unsafe-call": "off",
      "@typescript-eslint/no-unsafe-member-access": "off",
      "@typescript-eslint/no-unsafe-return": "off",
      "prettier/prettier": [
        "error",
        {
          "bracketSpacing": true,
          "printWidth": 80,
          "semi": false,
          "singleQuote": true,
          "trailingComma": "all",
          "arrowParens": "always",
          "endOfLine": "auto"
        }
      ],
      "import/order": [
        "error",
        {
          "alphabetize": {
            "order": "asc"
          },
          "groups": [
            "builtin",
            "external",
            "internal",
            "parent",
            "sibling",
            "index"
          ],
          "newlines-between": "always"
        }
      ]
    }
  }