{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false,
        "tarballDir": "release"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "publishCmd": "npm publish release/strava-${nextRelease.version}.tgz --provenance --access public"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": "release/*.tgz"
      }
    ],
    "@semantic-release/git"
  ],
  "preset": "angular"
}
